@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    scroll-behavior: smooth;
    font-family: 'Belleza', sans-serif;
    background-color: #0d1117;
}

#nav {
    position: fixed;
    display: flex;
    z-index: 5;
    opacity: 0;
    top: -20%;
    left: 1%;
    height: 50px;
    width: 98%;
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border-radius: 10px;
    box-shadow: -20px 20px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.navani {
    animation: 1s navanimation 0.5s ease-out forwards;
}

@keyframes navanimation {
    to {
        opacity: 1;
        top: 2%;
    }
}

#nav img {
    position: fixed;
    display: flex;
    height: 30px;
    margin-top: 10px;
    margin-left: 20px;
}

#links {
    position: fixed;
    display: flex;
    top: 13px;
    font-size: 14px;
    right: 0px;
}

#links a {
    text-decoration: none;
    text-align: center;
    padding-top: 2px;
    margin-right: 20px;
    width: 100px;
    height: 22px;
    border-radius: 5px;
    box-shadow: -7px 7px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.2);
    color: rgb(0, 0, 0);
}

#hero {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;

}

.blob {
    overflow: hidden;
}

.blob1 {
    position: absolute;
    transform: rotate(180deg);
    top: 60px;
    right: 70px;
    height: 650px;
    width: 700px;
    opacity: 1;
    stop-color: linear-gradient(135deg, rgba(147, 193, 255, 1) 0%, rgba(255, 0, 249, 1) 100%);
}

.blob2 {
    position: absolute;
    transform: rotate(70deg);
    top: 60px;
    right: 100px;
    height: 550px;
    width: 600px;
    opacity: 1;
}

.blob3 {
    position: absolute;
    transform: rotate(-90deg);
    top: 60px;
    right: 250px;
    height: 500px;
    width: 550px;
    opacity: 1;
}

#screen {
    position: absolute;
    z-index: 1;
    top: 150px;
    right: 80px;
    height: 450px;
    width: 700px;
    font-family: 'Roboto', sans-serif;
    background: rgba(53, 53, 53, 0.2);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(32px);
    border-radius: 15px;
    box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.sranimation {
    animation: 3s skewani ease-out 3s forwards;
}

@keyframes skewani {
    to {
        transform: skew(8deg);
    }
}

.left-main {
    position: absolute;
    overflow: hidden;
    top: 30px;
    left: 40px;
    height: 420px;
    width: 110px;
    border-top: 0.5px solid rgba(170, 170, 170, 0.3);
    border-right: 0.5px solid rgba(170, 170, 170, 0.3);
}

.left-icons {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 369px;
    width: 40px;
    border-right: 0.5px solid rgba(170, 170, 170, 0.3);
}

.three-dots {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 40px;
    height: 30px;
}

.red-dot {
    position: absolute;
    top: 10px;
    left: 5px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: rgb(204, 0, 0);
}

.yellow-dot {
    position: absolute;
    top: 10px;
    left: 17px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: rgb(196, 176, 0);
}

.green-dot {
    position: absolute;
    top: 10px;
    right: 5px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: rgb(0, 204, 10);
}

.ethereum {
    position: absolute;
    text-align: center;
    top: 40px;
    left: 7px;
    height: 25px;
    width: 25px;
    font-size: 20px;
    border-radius: 50%;
    background: rgb(147, 193, 255);
    background: linear-gradient(135deg, rgba(147, 193, 255, 1) 0%, rgba(255, 0, 249, 1) 100%);
}

.ethereum i {
    color: rgb(31, 31, 110);
    margin-top: 2.5px;
}

.cube {
    position: absolute;
    text-align: center;
    top: 75px;
    left: 7px;
    height: 25px;
    width: 25px;
    font-size: 18px;
    border-radius: 50%;
    background: rgb(147, 193, 255);
    background: linear-gradient(135deg, rgb(255, 238, 84) 0%, rgb(92, 78, 0) 100%);
}

.cube i {
    color: rgb(36, 34, 10);
    margin-top: 2.5px;
}

.unity {
    position: absolute;
    text-align: center;
    top: 110px;
    left: 7px;
    height: 25px;
    width: 25px;
    font-size: 18px;
    border-radius: 50%;
    background: rgb(147, 193, 255);
    background: linear-gradient(135deg, rgb(109, 109, 109) 0%, rgb(10, 10, 10) 100%);
}

.unity i {
    color: rgb(126, 126, 126);
    margin-top: 2.5px;
}

.compass {
    position: absolute;
    text-align: center;
    top: 145px;
    left: 7px;
    height: 25px;
    width: 25px;
    font-size: 18px;
    border-radius: 50%;
    background: rgba(255, 9, 255, 0.226);
}

.compass i {
    color: rgb(233, 0, 221);
    margin-top: 2.5px;
}

.plus {
    position: absolute;
    text-align: center;
    top: 180px;
    left: 7px;
    height: 25px;
    width: 25px;
    font-size: 18px;
    border-radius: 50%;
    background: rgba(102, 0, 102, 0.274);
}

.plus i {
    color: rgba(233, 0, 221, 0.459);
    margin-top: 2.5px;
}

.lm-home {
    position: absolute;
    top: 0;
    height: 25px;
    width: 100px;
    margin: 5px;
    font-size: 10px;
    color: #a7a7a7;
    border-radius: 3px;
    background-color: #00000086;
}

.lm-home p {
    margin: 5px;
}

.lm-home i {
    margin-right: 10px;
}

.lm-music {
    position: absolute;
    top: 30px;
    height: 25px;
    width: 100px;
    margin: 5px;
    font-size: 10px;
    color: #a7a7a7;
}

.lm-music p {
    margin: 5px;
}

.lm-music i {
    margin-right: 10px;
}

.lm-gaming {
    position: absolute;
    top: 60px;
    height: 25px;
    width: 100px;
    margin: 5px;
    font-size: 10px;
    color: #a7a7a7;
}

.lm-gaming p {
    margin: 5px;
}

.lm-gaming i {
    margin-right: 10px;
}

.lm-educat {
    position: absolute;
    top: 90px;
    height: 25px;
    width: 100px;
    margin: 5px;
    font-size: 10px;
    color: #a7a7a7;
}

.lm-educat p {
    margin: 5px;
}

.lm-educat i {
    margin-right: 10px;
}

.lm-science {
    position: absolute;
    top: 120px;
    height: 25px;
    width: 100px;
    margin: 5px;
    font-size: 10px;
    color: #a7a7a7;
}

.lm-science p {
    margin: 5px;
}

.lm-science i {
    margin-right: 10px;
}

.lm-entertain {
    position: absolute;
    top: 150px;
    height: 25px;
    width: 100px;
    margin: 5px;
    font-size: 10px;
    color: #a7a7a7;
}

.lm-entertain p {
    margin: 5px;
}

.lm-entertain i {
    margin-right: 10px;
}

.lm-student {
    position: absolute;
    top: 180px;
    margin: 5px;
    height: 25px;
    width: 100px;
    font-size: 10px;
    color: #a7a7a7;
}

.lm-student p {
    margin: 5px;
}

.lm-student i {
    margin-right: 10px;
}

.left-music {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 150px;
    border-bottom-left-radius: 13px;
    background-color: rgba(0, 0, 0, 0.411);
    border-top: 0.5px solid rgba(170, 170, 170, 0.3);
}

.dp1 {
    position: absolute;
    overflow: hidden;
    margin: 12px;
    height: 15px;
    width: 15px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.dp1 img {
    overflow: hidden;
    height: 150%;
    width: 100%;
}

.left-music p {
    position: absolute;
    left: 15px;
    margin: 14px;
    font-size: 10px;
    color: #a7a7a7;
}

.mic {
    position: absolute;
    left: 80px;
    margin-top: 15px;
    color: #a7a7a7;
    font-size: 10px;
}

.headphone {
    position: absolute;
    left: 100px;
    margin-top: 15px;
    color: #a7a7a7;
    font-size: 10px;
}

.user-check {
    position: absolute;
    left: 125px;
    margin-top: 15px;
    color: #a7a7a7;
    font-size: 10px;
}

.left-sound {
    position: absolute;
    overflow: hidden;
    bottom: 40px;
    left: 0;
    height: 40px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.24);
    border-top: 0.5px solid rgba(170, 170, 170, 0.3);
}

.left-sound img {
    position: absolute;
    height: 100%;
    left: 10%;
    width: 80%;
}

.center-main {
    position: absolute;

    top: 30px;
    left: 150px;
    height: 420px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.288);
    border-top: 0.5px solid rgba(170, 170, 170, 0.3);
    border-right: 0.5px solid rgba(170, 170, 170, 0.3);
}

.center-main1 {
    position: absolute;
    overflow: hidden;
    z-index: 2;
    top: 10px;
    left: 10px;
    width: 380px;
    height: 100px;
    border-radius: 10px;
    box-shadow: -3px 3px 1px rgba(0, 0, 0, 0.5);
}

.center-main1 img {
    position: absolute;
    overflow: hidden;
    top: -95%;
    height: 200%;
    width: 100%;
}

.main11 p {
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-top: 30px;
    height: 50%;
    width: 100%;
    color: white;
}

.main12 p {
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-top: 50px;
    height: 50%;
    width: 100%;
    color: #ffffff;
}

.center-main2 {
    position: absolute;
    top: 130px;
    width: 380px;
    left: 10px;
    height: 140px;
}

.center-main21 p {
    margin-left: 6px;
    font-size: 13px;
    color: #ffffff;
}

#center-main22 {
    position: absolute;
    overflow: hidden;
    top: 20px;
    left: 5px;
    height: 110px;
    width: 180px;
    border-radius: 10px;
    background-color: #707070;
    box-shadow: -3px 3px 1px rgba(0, 0, 0, 0.644);

}

.cm22 {
    animation: cm22 2s ease-out 5s forwards;
}

@keyframes cm22 {
    to {
        transform: translate(5px, -5px);
        box-shadow: -7px 7px 12px rgba(0, 0, 0, 0.644);
    }
}

.center-main22-img img {
    position: absolute;
    overflow: hidden;
    top: -32px;
    height: 130%;
    width: 100%;
}

.center-main22-cnt {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    width: 180px;
    height: 60px;
    border-radius: 17px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: rgba(0, 0, 0, 0.452);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.center-main22-cnt1 {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    width: 180px;
    height: 110px;
}

.main22-cnt-title {
    position: absolute;
    font-size: 11px;
    top: 57px;
    left: 10px;
    width: 100%;
    color: #ffffff;
}

.main22-cnt-ph {
    position: absolute;
    font-size: 8px;
    top: 74px;
    left: 10px;
    width: 160px;
    color: #999999;
}

.main22-cnt-online {
    position: absolute;
    font-size: 7px;
    top: 98px;
    left: 10px;
    width: 160px;
    color: #747474;
}

.main22-cnt-members {
    position: absolute;
    text-align: right;
    font-size: 7px;
    top: 98px;
    right: 10px;
    width: 160px;
    color: #747474;
}

.main22-icon {
    position: absolute;
    text-align: center;
    top: 33px;
    right: 30px;
    height: 35px;
    width: 30px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    background: rgb(0, 18, 255);
    background: linear-gradient(45deg, rgba(0, 18, 255, 1) 0%, rgba(0, 255, 239, 1) 100%);
}

.main22-icon i {
    font-size: 13px;
    color: #ffffff;
    margin-top: 11px;
}

#center-main23 {
    position: absolute;
    overflow: hidden;
    top: 20px;
    right: 5px;
    height: 110px;
    width: 180px;
    border-radius: 10px;
    background-color: #707070;
    box-shadow: -3px 3px 1px rgba(0, 0, 0, 0.644);
    z-index: 20;

}

.cm23 {
    animation: cm23 2s ease-out 6s forwards;
}

@keyframes cm23 {
    to {
        transform: translate(25px, -15px);
        box-shadow: -14px 14px 25px rgba(0, 0, 0, 0.644);
    }
}

.center-main23-img img {
    position: absolute;
    overflow: hidden;
    top: -160px;
    height: 250%;
    width: 100%;
}

.center-main23-cnt {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    width: 180px;
    height: 60px;
    border-radius: 17px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: rgba(0, 0, 0, 0.315);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.center-main23-cnt1 {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    width: 180px;
    height: 110px;
}

.main23-cnt-title {
    position: absolute;
    font-size: 11px;
    top: 7px;
    left: 10px;
    width: 100%;
    color: #ffffff;
}

.main23-cnt-ph {
    position: absolute;
    font-size: 8px;
    top: 24px;
    left: 10px;
    width: 160px;
    color: #999999;
}

.main23-cnt-online {
    position: absolute;
    font-size: 7px;
    top: 48px;
    left: 10px;
    width: 160px;
    color: #747474;
}

.main23-cnt-members {
    position: absolute;
    text-align: right;
    font-size: 7px;
    top: 48px;
    right: 10px;
    width: 160px;
    color: #747474;
}

.main23-icon {
    position: absolute;
    text-align: center;
    top: 33px;
    right: 30px;
    height: 35px;
    width: 30px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    background: rgb(0, 18, 255);
    background: linear-gradient(45deg, rgba(0, 18, 255, 1) 0%, rgba(255, 0, 228, 1) 100%);
}

.main23-icon i {
    font-size: 13px;
    color: #ffffff;
    margin-top: 11px;
}

.center-main3 {
    position: absolute;
    top: 280px;
    width: 380px;
    left: 10px;
    height: 120px;
}

.center-main31 p {
    margin-left: 6px;
    font-size: 13px;
    color: #ffffff;
}

#center-main32 {
    position: absolute;
    overflow: hidden;
    top: 20px;
    left: 5px;
    height: 90px;
    width: 180px;
    border-radius: 10px;
    background-color: #707070;
    box-shadow: -3px 3px 1px rgba(0, 0, 0, 0.644);
}

.cm32 {
    animation: cm32 2s ease-out 5.5s forwards;
}

@keyframes cm32 {
    to {
        transform: translate(5px, -5px);
        box-shadow: -7px 7px 12px rgba(0, 0, 0, 0.644);
    }
}

.center-main32-img img {
    position: absolute;
    overflow: hidden;
    top: -8px;
    left: -67px;
    height: 110%;
    width: 100%;
}

.center-main32-cnt {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: -10px;
    width: 130px;
    height: 90px;
    border-radius: 17px;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
    background-color: rgb(29, 29, 36);

}

.center-main32-cnt1 {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    width: 180px;
    height: 110px;
}

.main32-cover {
    position: absolute;
    overflow: hidden;
    top: -20px;
    left: -130px;
    width: 140px;
    height: 140px;
    border-top-right-radius: 35px;
    background: rgb(0, 18, 255);
    background: linear-gradient(-60deg, rgba(0, 18, 255, 1) 0%, rgba(0, 255, 239, 1) 100%);
    transform: rotate(45deg);
}

.main32-cnt-title {
    position: absolute;
    font-size: 11px;
    top: 15px;
    left: 30px;
    width: 100%;
    color: #ffffff;
}

.main32-cnt-ph {
    position: absolute;
    font-size: 8px;
    top: 30px;
    left: 30px;
    width: 80px;
    color: #999999;
}

.main32-cnt-members {
    position: absolute;
    font-size: 7px;
    bottom: 4px;
    right: 0;
    width: 160px;
    color: #747474;
}

.main32-cnt-members p {
    text-align: right;
    margin-right: 20px;
}

.main32-icon {
    position: absolute;
    text-align: center;
    top: 30px;
    left: 45px;
    height: 35px;
    width: 30px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    background: rgb(0, 5, 78);
    background: linear-gradient(45deg, rgba(0, 5, 78, 1) 0%, rgba(0, 56, 255, 1) 100%);
}

.main32-icon i {
    font-size: 18px;
    color: #ffffff;
    margin-top: 8px;
}

#center-main33 {
    position: absolute;
    overflow: hidden;
    top: 20px;
    right: 5px;
    height: 90px;
    width: 180px;
    border-radius: 10px;
    background-color: #707070;
    box-shadow: -3px 3px 1px rgba(0, 0, 0, 0.5);
}

.cm33 {
    animation: cm33 2s ease-out 6.5s forwards;
}

@keyframes cm33 {
    to {
        transform: translate(25px, -15px);
        box-shadow: -14px 14px 25px rgba(0, 0, 0, 0.644);
    }
}

.center-main33-img img {
    position: absolute;
    overflow: hidden;
    top: -8px;
    left: -60px;
    height: 110%;
    width: 100%;
}

.center-main33-cnt {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: -10px;
    width: 130px;
    height: 90px;
    border-radius: 17px;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
    background-color: rgb(29, 29, 36);

}

.center-main33-cnt1 {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    width: 180px;
    height: 110px;
}

.main33-cover {
    position: absolute;
    overflow: hidden;
    top: -20px;
    left: -130px;
    width: 140px;
    height: 140px;
    border-top-right-radius: 35px;
    background: rgb(0, 18, 255);
    background: linear-gradient(-60deg, rgba(0, 18, 255, 1) 0%, rgba(0, 255, 239, 1) 100%);
    transform: rotate(45deg);
}

.main33-cnt-title {
    position: absolute;
    font-size: 11px;
    top: 15px;
    left: 30px;
    width: 100%;
    color: #ffffff;
}

.main33-cnt-ph {
    position: absolute;
    font-size: 8px;
    top: 30px;
    left: 30px;
    width: 80px;
    color: #999999;
}

.main33-cnt-members {
    position: absolute;
    font-size: 7px;
    bottom: 4px;
    right: 0;
    width: 160px;
    color: #747474;
}

.main33-cnt-members p {
    text-align: right;
    margin-right: 20px;
}

.main33-icon {
    position: absolute;
    text-align: center;
    top: 30px;
    left: 45px;
    height: 35px;
    width: 30px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    background: rgb(38, 38, 38);
    background: linear-gradient(45deg, rgb(15, 15, 15) 0%, rgba(176, 176, 176, 1) 100%);
}

.main33-icon i {
    font-size: 18px;
    color: #ffffff;
    margin-top: 8px;
}

.right-main {
    position: absolute;
    top: 0;
    right: 0;
    height: 450px;
    width: 150px;
}

.right-top-icons {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: -1px;
    height: 31px;
    width: 150px;
    border-left: 0.5px solid rgba(170, 170, 170, 0.3);
    border-bottom: 0.5px solid rgba(170, 170, 170, 0.3);
}

.r-icon-bell {
    position: absolute;
    top: 0;
    left: 0;
    height: 31px;
    width: 50px;
}

.r-icon-chat {
    position: absolute;
    top: 0;
    left: 50px;
    height: 31px;
    width: 50px;
}

.r-icon-gear {
    position: absolute;
    top: 0;
    left: 100px;
    height: 31px;
    width: 50px;
}

.right-top-icons i {
    margin: 9px;
    margin-left: 17px;
    font-size: 12px;
    color: #707070;
}

.r-main-user {
    position: absolute;
    top: 31px;
    left: 0;
    height: 150px;
    width: 150px;
}

#r-dp-container {
    position: absolute;
    top: 31px;
    left: 40px;
    filter: drop-shadow(-3px 3px 1px rgba(0, 0, 0, 0.644));
}

.rdp {
    animation: userdp 2s ease-in-out 7s forwards;
}

@keyframes userdp {
    to {
        transform: translate(15px, -15px);
        filter: drop-shadow(-16px 16px 8px rgba(0, 0, 0, 0.774));
    }
}

.r-user-john {
    position: absolute;
    overflow: hidden;
    height: 70px;
    width: 70px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.r-user-dp img {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: -4px;
    height: 120px;
    width: 80px;
}

.r-user-name {
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
}

.r-user-name p {
    text-align: center;
    font-size: 11px;
    color: #ffffff;
}

.r-user-name1 {
    position: absolute;
    top: 125px;
    left: 0;
    width: 100%;
}

.r-user-name1 p {
    text-align: center;
    font-size: 10px;
    color: #7c7c7c;
}

.new-members {
    position: absolute;
    top: 170px;
    left: 0;
    height: 180px;
    width: 100%;
}

.nm-title p {
    position: absolute;
    text-align: left;
    font-size: 11px;
    margin: 5px;
    margin-left: 12px;
    color: #cfcfcf;
}

.nm-see-all p {
    position: absolute;
    text-align: right;
    font-size: 11px;
    margin: 5px;
    width: 140px;
    color: #747474;
}

#member1 {
    position: absolute;
    top: 25px;
    left: 7px;
    height: 30px;
    border-radius: 6px;
    width: 136px;
    background: rgb(42, 42, 61);
    background: linear-gradient(180deg, rgba(42, 42, 61, 1) 0%, rgb(30, 30, 44) 100%);
    box-shadow: -3px 3px 1px rgba(0, 0, 0, 0.767);
}

.mem1 {
    animation: m1 2s ease-out 8s forwards;
}

@keyframes m1 {
    to {
        transform: translate(10px, -10px);
        box-shadow: -7px 7px 12px rgba(0, 0, 0, 0.726);
    }
}

.m1-dp {
    position: absolute;
    overflow: hidden;
    top: 4px;
    left: 4px;
    height: 22px;
    width: 20px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.m1-dp img {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: -40%;
    height: 120%;
    width: 160%;
}

.m1-name p {
    position: absolute;
    overflow: hidden;
    top: 5px;
    left: 30px;
    font-size: 8px;
    color: #c0c0c0;
}

.m1-time p {
    position: absolute;
    overflow: hidden;
    top: 16px;
    left: 30px;
    font-size: 7px;
    color: #808080;
}

#member2 {
    position: absolute;
    overflow: hidden;
    top: 60px;
    left: 7px;
    height: 30px;
    border-radius: 6px;
    width: 136px;
    background: rgb(42, 42, 61);
    background: linear-gradient(180deg, rgba(42, 42, 61, 1) 0%, rgb(30, 30, 44) 100%);
    box-shadow: -3px 3px 1px rgba(0, 0, 0, 0.767);

}

.mem2 {
    animation: m2 2s ease-out 8s forwards;
}

@keyframes m2 {
    to {
        transform: translate(18px, -18px);
        box-shadow: -18px 15px 12px rgba(0, 0, 0, 0.726);
    }
}

.m2-dp {
    position: absolute;
    overflow: hidden;
    top: 4px;
    left: 4px;
    height: 22px;
    width: 20px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.m2-dp img {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: -18%;
    height: 120%;
    width: 160%;
}

.m2-name p {
    position: absolute;
    overflow: hidden;
    top: 5px;
    left: 30px;
    font-size: 8px;
    color: #c0c0c0;
}

.m2-time p {
    position: absolute;
    overflow: hidden;
    top: 16px;
    left: 30px;
    font-size: 7px;
    color: #808080;
}

#member3 {
    position: absolute;
    overflow: hidden;
    top: 95px;
    left: 7px;
    height: 30px;
    border-radius: 6px;
    width: 136px;
    background: rgb(42, 42, 61);
    background: linear-gradient(180deg, rgba(42, 42, 61, 1) 0%, rgb(30, 30, 44) 100%);
    box-shadow: -3px 3px 1px rgba(0, 0, 0, 0.767);

}

.mem3 {
    animation: m3 2s ease-out 8s forwards;
}

@keyframes m3 {
    to {
        transform: translate(26px, -26px);
        box-shadow: -22px 22px 16px rgba(0, 0, 0, 0.726);
    }
}

.m3-dp {
    position: absolute;
    overflow: hidden;
    top: 4px;
    left: 4px;
    height: 22px;
    width: 20px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.m3-dp img {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: -40%;
    height: 120%;
    width: 160%;
}

.m3-name p {
    position: absolute;
    overflow: hidden;
    top: 5px;
    left: 30px;
    font-size: 8px;
    color: #c0c0c0;
}

.m3-time p {
    position: absolute;
    overflow: hidden;
    top: 16px;
    left: 30px;
    font-size: 7px;
    color: #808080;
}

#member4 {
    position: absolute;
    overflow: hidden;
    top: 130px;
    left: 7px;
    height: 30px;
    border-radius: 6px;
    width: 136px;
    background: rgb(42, 42, 61);
    background: linear-gradient(180deg, rgba(42, 42, 61, 1) 0%, rgb(30, 30, 44) 100%);
    box-shadow: -3px 3px 1px rgba(0, 0, 0, 0.767);
}

.mem4 {
    animation: m4 2s ease-out 8s forwards;
}

@keyframes m4 {
    to {
        transform: translate(33px, -33px);
        box-shadow: -30px 30px 25px rgba(0, 0, 0, 0.726);
    }
}

.m4-dp {
    position: absolute;
    overflow: hidden;
    top: 4px;
    left: 4px;
    height: 22px;
    width: 20px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.m4-dp img {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: -10%;
    height: 120%;
    width: 130%;
}

.m4-name p {
    position: absolute;
    overflow: hidden;
    top: 5px;
    left: 30px;
    font-size: 8px;
    color: #c0c0c0;
}

.m4-time p {
    position: absolute;
    overflow: hidden;
    top: 16px;
    left: 30px;
    font-size: 7px;
    color: #808080;
}

.recent-activity {
    position: absolute;
    top: 350px;
    left: 0;
    height: 150px;
    width: 100%;
}

.ra-title p {
    position: absolute;
    text-align: left;
    font-size: 11px;
    margin: 5px;
    margin-left: 12px;
    color: #cfcfcf;
}

.ra-see-all p {
    position: absolute;
    text-align: right;
    font-size: 11px;
    margin: 5px;
    width: 140px;
    color: #747474;
}

.recent1 {
    position: absolute;
    top: 25px;
    left: 7px;
    height: 30px;
    border-radius: 5px;
    width: 136px;
    background-color: rgba(50, 49, 63, 0.795);
}

.r1-dp {
    position: absolute;
    overflow: hidden;
    top: 4px;
    left: 4px;
    height: 22px;
    width: 20px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.r1-dp img {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: -40%;
    height: 120%;
    width: 160%;
}

.r1-name p {
    position: absolute;
    overflow: hidden;
    top: 2px;
    left: 30px;
    font-size: 8px;
    color: #c0c0c0;
}

.r1-time p {
    position: absolute;
    overflow: hidden;
    top: 18px;
    left: 30px;
    font-size: 7px;
    color: #808080;
}

.r1-act p {
    position: absolute;
    overflow: hidden;
    top: 10px;
    left: 30px;
    font-size: 7px;
    color: #808080;
}

.recent2 {
    position: absolute;
    top: 60px;
    left: 7px;
    height: 30px;
    border-radius: 5px;
    width: 136px;
    background-color: rgba(50, 49, 63, 0.795);
}

.r2-dp {
    position: absolute;
    overflow: hidden;
    top: 4px;
    left: 4px;
    height: 22px;
    width: 20px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.r2-dp img {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: -40%;
    height: 120%;
    width: 160%;
}

.r2-name p {
    position: absolute;
    overflow: hidden;
    top: 2px;
    left: 30px;
    font-size: 8px;
    color: #b0b1da;
}

.r2-time p {
    position: absolute;
    overflow: hidden;
    top: 18px;
    left: 30px;
    font-size: 7px;
    color: #808080;
}

.r2-act p {
    position: absolute;
    overflow: hidden;
    top: 10px;
    left: 30px;
    font-size: 7px;
    color: #808080;
}

.explore {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 40px;
    height: 30px;
    width: 510px;
}

.explore p {
    font-size: 12px;
    margin-top: 6px;
    margin-left: 12px;
    color: #ffffff;
}

.explore-search {
    position: absolute;
    overflow: hidden;
    text-align: center;
    top: 6px;
    right: 70px;
    height: 18px;
    width: 260px;
    border-radius: 3px;
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.288);
}

.explore-search p {
    font-size: 11px;
    margin-top: 1px;
    color: #a7a7a7;
}

.explore-search i {
    color: #a7a7a7;
    margin-right: 10px;
}

.home-hero-content {
    position: absolute;
    z-index: 2;
    top: 20vh;
    left: 5vw;
    height: 75vh;
    width: 35vw;
}

#hometitle {
    position: absolute;
    text-align: center;
    overflow: hidden;
    left: 0;
    width: 100%;
    margin-top: 150px;
}

#hometitle p {
    overflow: hidden;
    font-size: 60px;
    width: 100%;
    color: #ffffff;
    transform: translate(0, 150px);
}

.htitle {
    animation: 1.5s htitle ease-out 1s forwards;
}

@keyframes htitle {
    to {
        transform: translate(0, 0);
    }
}

#homeservice {
    position: absolute;
    text-align: center;
    overflow: hidden;
    left: 0;
    width: 100%;
    margin-top: 240px;
}

#homeservice p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    width: 500px;
    color: #c0c0c0;
    transform: translate(0, 80px);
}

#homeservice span {
    margin-left: 13px;
    margin-right: 13px;
}

.hservice {
    animation: 1.5s hservice ease-out 1.5s forwards;
}

@keyframes hservice {
    to {
        transform: translate(0, 0);
    }
}

#home-hero-contact {
    position: absolute;
    opacity: 0;
    top: 275px;
    left: 13.5vw;
    width: 10vw;
    height: 20px;
    border-radius: 9px;
    background-color: #0d1117;
}

.contact {
    animation: 0.5s message linear 2.7s forwards;
}

@keyframes message {
    to {
        opacity: 1;
    }
}

#home-hero-contact a {
    text-decoration: none;
}

#home-hero-contact p {
    text-align: left;
    font-size: 11px;
    height: 16px;
    width: 9.7vw;
    padding-top: 1.7px;
    padding-left: 16px;
    margin: 2px;
    border-radius: 6px;
    color: #d1d1d1;
    background-color: #0d1117;
}

#home-hero-contact i {
    position: absolute;
    font-size: 12px;
    top: 3.8px;
    margin-right: 16px;
    right: 0;
    color: red;
}

#message {
    position: absolute;
    display: grid;
    text-align: center;
    opacity: 0;
    top: 25vh;
    left: 5%;
    width: 90%;
    margin-top: 150px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #c0c0c0;

}

.message {
    animation: 0.5s message linear 3s forwards;
}

@keyframes message {
    to {
        opacity: 1;
    }
}

#hero-line {
    position: absolute;
    top: 330px;
    left: 60px;
    width: 1.5px;
    border-radius: 1px;
    background: rgb(14, 14, 25);
    background: linear-gradient(180deg, rgb(14, 14, 26) 0%, rgba(95, 0, 142, 1) 100%);
}

.hline1 {
    animation: 0.5s hline1 linear 3s forwards;
}

@keyframes hline1 {
    0% {
        height: 0;
    }

    100% {
        height: 450px;
    }
}

.hero-circle i {
    position: absolute;
    top: 312px;
    left: 53.5px;
    color: #707070;
}

.section1 {
    position: absolute;
    top: 100vh;
    width: 100%;
    height: 100vh;
}

.sec1-title {
    position: absolute;
    top: 100px;
    left: 5%;
    width: 90%;
    height: 150px;
    color: #ffffff;
}

.sec1-title p {
    text-align: center;
    font-family: 'Belleza', sans-serif;
    padding: 0;
    width: 100%;
    font-size: 37px;
    overflow: hidden;
}

.sec1-text {
    position: absolute;
    top: 150px;
    left: 5%;
    width: 90%;
    height: 150px;
    color: #a7a7a7;
}

.sec1-text p {
    text-align: center;
    margin-top: 15px;
    margin-left: 5%;
    width: 90%;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.sec1-text span {
    color: #ffffff;
}

#imageContainer {
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 25px;
    right: 7vw;
    height: 60vh;
    width: 44vw;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
}

.videoDiv {
    display: none;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
}

.videoDiv video {
    height: 100%;
    width: 100%;
}

.videoDiv.activ {
    display: block;
}

#video1 {
    display: block;
}

.clickableDivs {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-evenly;
    bottom: 5%;
    left: 5vw;
    height: 60vh;
    width: 40vw;
    border-radius: 20px;
}

.clickableDiv {
    display: flex;
    align-items: center;
    width: 80%;
    height: 50px;
    border-radius: 8px;
    color: #5f5f5fa9;
    margin: 15px 0;
    cursor: pointer;
    box-shadow: -2px 5px 10px rgba(0, 0, 0);
    transition: transform 0.3s, box-shadow 0.3s;
}

.clickableDiv p {
    text-align: center;
    margin-left: 10%;
    width: 80%;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.clickableDiv.run {
    color: rgb(255, 255, 255);
    transform: scale(0.95);
    box-shadow: inset -2px 5px 10px rgb(0, 0, 0);
}

.nich {
    display: flex;
    align-items: center;
    width: 80%;
    height: 50px;
    border-radius: 8px;
    color: #5f5f5fa9;
    margin: 15px 0;
}

.nich p {
    text-align: center;
    margin-left: 10%;
    width: 80%;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: bolder;
}

.macbook {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 65vh;
    width: 100%;
}

.macbook img {
    position: absolute;
    right: 20px;
    height: 440px;
    width: 760px;
    z-index: 5;
}

.section2 {
    position: absolute;
    top: 300vh;
    left: 0;
    height: 100vh;
    width: 100%;
}

.sec2-about {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 80px;
    left: 5%;
    width: 90%;
    height: 60px;
    font-size: 40px;
    color: #ffffff;
}

.about-me {
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #707070;
}

.sec2-for-you {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.for-you {
    position: absolute;
    text-align: center;
    left: 40%;
    width: 20%;
    background: rgba(122, 122, 122, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(12px);
}

.sec2-cnt {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-evenly;
    bottom: 5%;
    top: 20vh;
    width: 100%;
    height: 80vh;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.sec2-cnt1 {
    position: absolute;
    align-items: center;
    text-align: center;
    left: 5%;
    width: 90%;
    margin-top: 35px;
    color: rgb(99, 99, 99);
}

.sec2-cnt1 span {
    color: #ffffff;
}

.sec2-cnt2 {
    position: absolute;
    align-items: center;
    text-align: center;
    height: 100px;
    left: 30%;
    width: 40%;
    margin-top: 140px;
}

.triangle {
    position: absolute;
    left: 30px;
    margin: 10px;
    height: 80px;
    width: 80px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: azure;
}

.pentagon {
    position: absolute;
    left: 160px;
    margin: 10px;
    height: 80px;
    width: 80px;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    background-color: azure;
    animation: pentagon 5s ease-in-out infinite;
}

@keyframes pentagon {
    0% {
        clip-path: polygon(50% 0%, 100% 100%, 100% 100%, 0 100%, 0 100%);
    }

    25% {
        clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
    }

    50% {
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    }

    75% {
        clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
    }

    100% {
        clip-path: polygon(50% 0%, 100% 100%, 100% 100%, 0 100%, 0 100%);
    }

}

.heptagon {
    position: absolute;
    right: 160px;
    margin: 10px;
    height: 80px;
    width: 80px;
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    background-color: azure;
    animation: heptagon 5s ease-in-out infinite;
}

@keyframes heptagon {
    0% {
        clip-path: polygon(50% 0, 50% 0, 100% 30%, 100% 30%, 70% 100%, 30% 100%, 0 30%, 0% 30%);
    }

    25% {
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 30%, 70% 100%, 30% 100%, 0 30%, 0% 30%);
    }

    50% {
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }

    75% {
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 30%, 70% 100%, 30% 100%, 0 30%, 0% 30%);
    }

    100% {
        clip-path: polygon(50% 0, 50% 0, 100% 30%, 100% 30%, 70% 100%, 30% 100%, 0 30%, 0% 30%);
    }

}

.circle {
    position: absolute;
    right: 30px;
    margin: 10px;
    height: 80px;
    width: 80px;
    border-radius: 0;
    clip-path: circle(50% at 50% 50%);
    background-color: azure;
}

.sec2-cnt3 {
    position: absolute;
    align-items: center;
    text-align: center;
    left: 5%;
    width: 90%;
    margin-top: 270px;
    color: #ffffff;
}

.sec2-cnt4 {
    position: absolute;
    align-items: center;
    text-align: center;
    left: 5%;
    width: 90%;
    margin-top: 330px;
    color: rgb(99, 99, 99);
}

.sec2-cnt4 span {
    color: #ffffff;
}

.sec2-cnt5 {
    position: absolute;
    align-items: center;
    text-align: center;
    left: 5%;
    width: 90%;
    margin-top: 430px;
    color: #ffffff;
}

.section3 {
    position: absolute;
    display: flex;
    top: 200vh;
    height: 90vh;
    width: 100%;
}

.sec3-title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 5%;
    width: 90%;
    top: 25px;
}

.sec3-title p {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}

.sec3-cont {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 60px;
    left: 2%;
    width: 96%;
    height: 85%;
    color: #ffffff;
}

.web-des {
    position: absolute;
    top: 10px;
    left: 50px;
    margin: 50px;
    width: 300px;
    height: 400px;
    border-radius: 15px;
    border: 1px solid #707070;
    box-shadow: 0 0 25px rgba(139, 139, 139, 0.5);
}

.web-des:hover {
    border: 1px solid #161616;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.des-title {
    position: absolute;
    text-align: center;
    top: 40px;
    left: 0;
    width: 260px;
    margin: 20px;
    font-size: 25px;
    color: black;
    background-color: #ffffff;
}

.des-cont {
    position: absolute;
    text-align: center;
    top: 100px;
    margin: 20px;
    color: black;
    font-size: 19px;
    background-color: #ffffff;
}

.web-dev {
    position: absolute;
    text-align: center;
    top: 40px;
    left: 475px;
    width: 260px;
    margin: 20px;
    width: 300px;
    height: 400px;
    border-radius: 15px;
    background-color: #707070;
}

.dev-title {
    position: absolute;
    text-align: center;
    top: 40px;
    left: 0;
    width: 260px;
    margin: 20px;
    font-size: 25px;
    color: black;
    background-color: #ffffff;
}

.dev-cont {
    position: absolute;
    text-align: center;
    top: 100px;
    margin: 20px;
    color: black;
    font-size: 19px;
    background-color: #ffffff;
}

.ecom-sol {
    position: absolute;
    text-align: center;
    top: 10px;
    right: 50px;
    margin: 50px;
    width: 300px;
    height: 400px;
    border-radius: 15px;
    background-color: #707070;
}

.sol-title {
    position: absolute;
    text-align: center;
    top: 40px;
    left: 0;
    width: 260px;
    margin: 20px;
    font-size: 25px;
    color: black;
    background-color: #ffffff;
}

.sol-cont {
    position: absolute;
    text-align: center;
    top: 100px;
    margin: 20px;
    color: black;
    font-size: 19px;
    background-color: #ffffff;
}


#loader {
    position: fixed;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    left: 0;
    opacity: .99;
    background-color: rgb(0, 0, 0);
    z-index: 100;
}

#arc {
    margin-left: 70vh;
    margin-top: 22vh;
    width: 400px;
    height: 400px;
}

#arc span {
    display: block;
    width: 100%;
    height: 100%;
    padding: 4px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 50%;
    border-style: solid;
    border-width: 15px;
    border-color: rgb(255, 255, 255) transparent transparent rgb(255, 255, 255);
    animation-name: spinit;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.7, 0, .3, 1);
}

@keyframes spinit {
    0% {
        transform: rotate(0);
    }

    49% {
        transform: rotate(180deg);
    }

    51% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0);
    }

}

@media screen and (max-width: 1090px) {

    body {
        display: flex;
        scroll-behavior: smooth;
        font-family: 'Belleza', sans-serif;
        background-color: rgb(255, 255, 255);
    }

    #nav {
        position: fixed;
        top: 2%;
        left: 3%;
        height: 50px;
        width: 94%;
        z-index: 98;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(12px);
        border-radius: 10px;
        box-shadow: 5 5px 20px rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(12px);
    }

    #nav img {
        position: fixed;
        display: flex;
        height: 30px;
        margin-top: 10px;
        margin-left: 20px;
    }

    #links {
        position: fixed;
        display: flex;
        top: 14px;
        font-size: 13px;
        right: 0px;
    }

    #links a {
        text-decoration: none;
        text-align: center;
        padding-top: 4px;
        margin-right: 15px;
        width: 50px;
        height: 22px;
        border-radius: 5px;
        box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.05);
        color: rgb(0, 0, 0);
    }

    .blob1 {
        position: absolute;
        top: 1100px;
        left: 40px;
        height: 600px;
        width: 300px;
    }

    .title h1 {
        position: absolute;
        top: 1700px;
        left: 200px;
    }

    #loader {
        position: fixed;
        overflow: hidden;
        height: 100vh;
        width: 100%;
        left: 0;
        opacity: .99;
        background-color: rgb(0, 0, 0);
        z-index: 50;
    }

    #arc {
        margin-left: 15px;
        margin-top: 22vh;
        width: 400px;
        height: 400px;
        z-index: 51;
    }

    #arc span {
        display: block;
        width: 100%;
        height: 100%;
        padding: 4px;
        margin: 0;
        box-sizing: border-box;
        border-radius: 50%;
        border-style: solid;
        border-width: 15px;
        border-color: rgb(255, 255, 255) transparent transparent rgb(255, 255, 255);
        animation-name: spinit;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: cubic-bezier(.7, 0, .3, 1);
        z-index: 72;
    }

    @keyframes spinit {
        0% {
            transform: rotate(0);
        }

        49% {
            transform: rotate(180deg);
        }

        51% {
            transform: rotate(180deg);
        }

        100% {
            transform: rotate(0);
        }

    }
}