@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    scroll-behavior: smooth;
    font-family: 'Belleza', sans-serif;
    background-color: rgb(1, 0, 19);
}

.nav {
    position: fixed;
    display: flex;
    z-index: 5;
    top: 2%;
    left: 1%;
    height: 50px;
    width: 98%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    border-radius: 10px;
    box-shadow: -20px 20px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(12px);
}

.nav img {
    position: fixed;
    display: flex;
    height: 30px;
    margin-top: 10px;
    margin-left: 20px;
}

.links {
    position: fixed;
    display: flex;
    top: 13px;
    font-size: 14px;
    right: 0px;
}

.links a {
    text-decoration: none;
    text-align: center;
    padding-top: 2px;
    margin-right: 20px;
    width: 100px;
    height: 22px;
    border-radius: 5px;
    box-shadow: -7px 7px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.2);
    color: rgb(0, 0, 0);
}

.hero {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

.blob {
    overflow: hidden;
}

.blob1 {
    position: absolute;
    top: 60px;
    right: 100px;
    height: 650px;
    width: 700px;
}

.blob2 {
    position: absolute;
    top: 60px;
    right: 100px;
    height: 550px;
    width: 600px;
}

.blob3 {
    position: absolute;
    top: 60px;
    right: 250px;
    height: 500px;
    width: 550px;
}

.screen {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    top: 150px;
    right: 80px;
    height: 450px;
    width: 700px;
    background: rgba(53, 53, 53, 0.2);
    backdrop-filter: blur(32px);
    border-radius: 15px;
    box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(12px);
    /*animation: 2s skewani ease-out forwards;*/

}

@keyframes skewani {
    to {
        transform: skew(8deg);
    }
}

.left-main {
    position: absolute;
    overflow: hidden;
    top: 30px;
    left: 40px;
    height: 420px;
    width: 110px;
    border-top: 0.5px solid rgba(170, 170, 170, 0.3);
    border-right: 0.5px solid rgba(170, 170, 170, 0.3);
}

.left-icons {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 369px;
    width: 40px;
    border-right: 0.5px solid rgba(170, 170, 170, 0.3);
}

.three-dots {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 40px;
    height: 30px;
}

.red-dot {
    position: absolute;
    top: 10px;
    left: 5px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: rgb(204, 0, 0);
}

.yellow-dot {
    position: absolute;
    top: 10px;
    left: 17px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: rgb(196, 176, 0);
}

.green-dot {
    position: absolute;
    top: 10px;
    right: 5px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: rgb(0, 204, 10);
}

.ethereum {
    position: absolute;
    text-align: center;
    top: 40px;
    left: 7px;
    height: 25px;
    width: 25px;
    font-size: 20px;
    border-radius: 50%;
    background: rgb(147, 193, 255);
    background: linear-gradient(135deg, rgba(147, 193, 255, 1) 0%, rgba(255, 0, 249, 1) 100%);
}

.ethereum i {
    color: rgb(31, 31, 110);
    margin-top: 2.5px;
}

.cube {
    position: absolute;
    text-align: center;
    top: 75px;
    left: 7px;
    height: 25px;
    width: 25px;
    font-size: 18px;
    border-radius: 50%;
    background: rgb(147, 193, 255);
    background: linear-gradient(135deg, rgb(255, 238, 84) 0%, rgb(92, 78, 0) 100%);
}

.cube i {
    color: rgb(36, 34, 10);
    margin-top: 2.5px;
}

.unity {
    position: absolute;
    text-align: center;
    top: 110px;
    left: 7px;
    height: 25px;
    width: 25px;
    font-size: 18px;
    border-radius: 50%;
    background: rgb(147, 193, 255);
    background: linear-gradient(135deg, rgb(109, 109, 109) 0%, rgb(10, 10, 10) 100%);
}

.unity i {
    color: rgb(126, 126, 126);
    margin-top: 2.5px;
}

.compass {
    position: absolute;
    text-align: center;
    top: 145px;
    left: 7px;
    height: 25px;
    width: 25px;
    font-size: 18px;
    border-radius: 50%;
    background: rgba(255, 9, 255, 0.226);
}

.compass i {
    color: rgb(233, 0, 221);
    margin-top: 2.5px;
}

.plus {
    position: absolute;
    text-align: center;
    top: 180px;
    left: 7px;
    height: 25px;
    width: 25px;
    font-size: 18px;
    border-radius: 50%;
    background: rgba(102, 0, 102, 0.274);
}

.plus i {
    color: rgba(233, 0, 221, 0.459);
    margin-top: 2.5px;
}

.lm-home {
    position: absolute;
    top: 0;
    height: 25px;
    width: 100px;
    margin: 5px;
    font-size: 10px;
    color: #a7a7a7;
    border-radius: 3px;
    background-color: #00000086;
}

.lm-home p {
    margin: 5px;
}

.lm-home i {
    margin-right: 10px;
}

.lm-music {
    position: absolute;
    top: 30px;
    height: 25px;
    width: 100px;
    margin: 5px;
    font-size: 10px;
    color: #a7a7a7;
}

.lm-music p {
    margin: 5px;
}

.lm-music i {
    margin-right: 10px;
}

.lm-gaming {
    position: absolute;
    top: 60px;
    height: 25px;
    width: 100px;
    margin: 5px;
    font-size: 10px;
    color: #a7a7a7;
}

.lm-gaming p {
    margin: 5px;
}

.lm-gaming i {
    margin-right: 10px;
}

.lm-educat {
    position: absolute;
    top: 90px;
    height: 25px;
    width: 100px;
    margin: 5px;
    font-size: 10px;
    color: #a7a7a7;
}

.lm-educat p {
    margin: 5px;
}

.lm-educat i {
    margin-right: 10px;
}

.lm-science {
    position: absolute;
    top: 120px;
    height: 25px;
    width: 100px;
    margin: 5px;
    font-size: 10px;
    color: #a7a7a7;
}

.lm-science p {
    margin: 5px;
}

.lm-science i {
    margin-right: 10px;
}

.lm-entertain {
    position: absolute;
    top: 150px;
    height: 25px;
    width: 100px;
    margin: 5px;
    font-size: 10px;
    color: #a7a7a7;
}

.lm-entertain p {
    margin: 5px;
}

.lm-entertain i {
    margin-right: 10px;
}

.lm-student {
    position: absolute;
    top: 180px;
    margin: 5px;
    height: 25px;
    width: 100px;
    font-size: 10px;
    color: #a7a7a7;
}

.lm-student p {
    margin: 5px;
}

.lm-student i {
    margin-right: 10px;
}

.left-music {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.411);
    border-top: 0.5px solid rgba(170, 170, 170, 0.3);
}

.dp1 {
    position: absolute;
    overflow: hidden;
    margin: 12px;
    height: 15px;
    width: 15px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.dp1 img {
    overflow: hidden;
    height: 150%;
    width: 100%;
}

.left-music p {
    position: absolute;
    left: 15px;
    margin: 14px;
    font-size: 10px;
    color: #a7a7a7;
}

.mic {
    position: absolute;
    left: 80px;
    margin-top: 15px;
    color: #a7a7a7;
    font-size: 10px;
}

.headphone {
    position: absolute;
    left: 100px;
    margin-top: 15px;
    color: #a7a7a7;
    font-size: 10px;
}

.user-check {
    position: absolute;
    left: 125px;
    margin-top: 15px;
    color: #a7a7a7;
    font-size: 10px;
}

.left-sound {
    position: absolute;
    overflow: hidden;
    bottom: 40px;
    left: 0;
    height: 40px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.24);
    border-top: 0.5px solid rgba(170, 170, 170, 0.3);
}

.left-sound img {
    position: absolute;
    height: 100%;
    left: 10%;
    width: 80%;
}

.center-main {
    position: absolute;
    overflow: hidden;
    top: 30px;
    left: 150px;
    height: 420px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.288);
    border-top: 0.5px solid rgba(170, 170, 170, 0.3);
    border-right: 0.5px solid rgba(170, 170, 170, 0.3);
}

.right-main {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    height: 450px;
    width: 150px;
}

.right-top-icons {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: -1px;
    height: 31px;
    width: 150px;
    border-left: 0.5px solid rgba(170, 170, 170, 0.3);
    border-bottom: 0.5px solid rgba(170, 170, 170, 0.3);
}

.explore {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 40px;
    height: 30px;
    width: 510px;
}

.explore p {
    font-size: 12px;
    margin-top: 6px;
    margin-left: 12px;
    color: #ffffff;
}

.explore-search {
    position: absolute;
    overflow: hidden;
    text-align: center;
    top: 6px;
    right: 70px;
    height: 18px;
    width: 260px;
    border-radius: 3px;
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.288);
}

.explore-search p {
    font-size: 11px;
    margin-top: 1px;
    color: #a7a7a7;
}

.explore-search i {
    color: #a7a7a7;
    margin-right: 10px;
}

.hero-content {
    position: absolute;
    z-index: 2;
    top: 20vh;
    left: 5vw;
    height: 75vh;
    width: 40vw;
}

.title {
    position: absolute;
    text-align: center;
    overflow: hidden;
    left: 5%;
    width: 90%;
    margin-top: 50px;
}

.title p {
    font-size: 70px;
    width: 500px;
    color: #ffffff;
}

.service {
    position: absolute;
    text-align: center;
    overflow: hidden;
    left: 5%;
    width: 90%;
    margin-top: 150px;
}

.service p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    width: 500px;
    color: #ffffff;
}

.message {
    position: absolute;
    display: grid;
    text-align: center;
    top: 25vh;
    left: 5%;
    width: 90%;
    margin-top: 50px;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.display {
    position: absolute;
    align-items: center;
    top: 20vh;
    right: 7%;
}

.display img {
    height: 530px;
    width: 604px;
}

.punk {
    position: absolute;
    align-items: center;
    top: 32px;
    width: 100%;
}

.punk img {
    margin-left: 32px;
    height: 321px;
    width: 540px;
}

.display-content {
    opacity: 1;
    animation: section 5s ease-out;
}

@keyframes section {
    0% {
        transform: perspective(6em) rotateY(2deg);
    }

    100% {
        transform: perspective(2000px) rotateY(0deg);
    }
}

.section1 {
    position: absolute;
    top: 100vh;
    width: 100%;
    height: 100vh;
}

.sec1-title {
    position: absolute;
    top: 100px;
    left: 5%;
    width: 90%;
    height: 150px;
    color: #ffffff;
}

.sec1-title p {
    text-align: center;
    padding: 0;
    width: 100%;
    font-size: 37px;
    overflow: hidden;
}

.sec1-text {
    position: absolute;
    top: 150px;
    left: 5%;
    width: 90%;
    height: 150px;
    color: #a7a7a7;
}

.sec1-text p {
    text-align: center;
    margin-top: 15px;
    margin-left: 5%;
    width: 90%;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.sec1-text span {
    color: #ffffff;
}

#imageContainer {
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 25px;
    right: 7vw;
    height: 60vh;
    width: 44vw;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
}

.videoDiv {
    display: none;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
}

.videoDiv.activ {
    display: block;
}

#video1 {
    display: block;
}

.clickableDivs {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-evenly;
    bottom: 5%;
    left: 5vw;
    height: 60vh;
    width: 40vw;
    border-radius: 20px;
}

.clickableDiv {
    display: flex;
    align-items: center;
    width: 80%;
    height: 50px;
    border-radius: 8px;
    color: #5f5f5fa9;
    margin: 15px 0;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.clickableDiv p {
    text-align: center;
    margin-left: 10%;
    width: 80%;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.clickableDiv.run {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(139, 139, 139, 0.5);
}

.nich {
    display: flex;
    align-items: center;
    width: 80%;
    height: 50px;
    border-radius: 8px;
    color: #5f5f5fa9;
    margin: 15px 0;
}

.nich p {
    text-align: center;
    margin-left: 10%;
    width: 80%;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: bolder;
}

.macbook {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 65vh;
    width: 100%;
}

.macbook img {
    position: absolute;
    right: 20px;
    height: 440px;
    width: 760px;
    z-index: 5;
}

.section2 {
    position: absolute;
    top: 200vh;
    left: 0;
    height: 100vh;
    width: 100%;
}

.sec2-about {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 80px;
    left: 5%;
    width: 90%;
    height: 60px;
    font-size: 40px;
    color: #ffffff;
}

.about-me {
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #707070;
}

.sec2-for-you {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.for-you {
    position: absolute;
    text-align: center;
    left: 40%;
    width: 20%;
    background: rgba(122, 122, 122, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(12px);
}

.sec2-cnt {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-evenly;
    bottom: 5%;
    top: 20vh;
    width: 100%;
    height: 80vh;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.sec2-cnt1 {
    position: absolute;
    align-items: center;
    text-align: center;
    left: 5%;
    width: 90%;
    margin-top: 35px;
    color: rgb(99, 99, 99);
}

.sec2-cnt1 span {
    color: #ffffff;
}

.sec2-cnt2 {
    position: absolute;
    align-items: center;
    text-align: center;
    height: 100px;
    left: 30%;
    width: 40%;
    margin-top: 140px;
}

.triangle {
    position: absolute;
    left: 30px;
    margin: 10px;
    height: 80px;
    width: 80px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: azure;
}

.pentagon {
    position: absolute;
    left: 160px;
    margin: 10px;
    height: 80px;
    width: 80px;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    background-color: azure;
    animation: pentagon 5s ease-in-out infinite;
}

@keyframes pentagon {
    0% {
        clip-path: polygon(50% 0%, 100% 100%, 100% 100%, 0 100%, 0 100%);
    }

    25% {
        clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
    }

    50% {
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    }

    75% {
        clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
    }

    100% {
        clip-path: polygon(50% 0%, 100% 100%, 100% 100%, 0 100%, 0 100%);
    }

}

.heptagon {
    position: absolute;
    right: 160px;
    margin: 10px;
    height: 80px;
    width: 80px;
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    background-color: azure;
    animation: heptagon 5s ease-in-out infinite;
}

@keyframes heptagon {
    0% {
        clip-path: polygon(50% 0, 50% 0, 100% 30%, 100% 30%, 70% 100%, 30% 100%, 0 30%, 0% 30%);
    }

    25% {
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 30%, 70% 100%, 30% 100%, 0 30%, 0% 30%);
    }

    50% {
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }

    75% {
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 30%, 70% 100%, 30% 100%, 0 30%, 0% 30%);
    }

    100% {
        clip-path: polygon(50% 0, 50% 0, 100% 30%, 100% 30%, 70% 100%, 30% 100%, 0 30%, 0% 30%);
    }

}

.circle {
    position: absolute;
    right: 30px;
    margin: 10px;
    height: 80px;
    width: 80px;
    border-radius: 0;
    clip-path: circle(50% at 50% 50%);
    background-color: azure;
}

.sec2-cnt3 {
    position: absolute;
    align-items: center;
    text-align: center;
    left: 5%;
    width: 90%;
    margin-top: 270px;
    color: #ffffff;
}

.sec2-cnt4 {
    position: absolute;
    align-items: center;
    text-align: center;
    left: 5%;
    width: 90%;
    margin-top: 330px;
    color: rgb(99, 99, 99);
}

.sec2-cnt4 span {
    color: #ffffff;
}

.sec2-cnt5 {
    position: absolute;
    align-items: center;
    text-align: center;
    left: 5%;
    width: 90%;
    margin-top: 430px;
    color: #ffffff;
}

.section3 {
    position: absolute;
    display: flex;
    top: 300vh;
    height: 90vh;
    width: 100%;
}

.sec3-title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 5%;
    width: 90%;
    top: 25px;
}

.sec3-title p {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}

.sec3-cont {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 60px;
    left: 2%;
    width: 96%;
    height: 85%;
    color: #ffffff;
}

.web-des {
    position: absolute;
    top: 10px;
    left: 50px;
    margin: 50px;
    width: 300px;
    height: 400px;
    border-radius: 15px;
    border: 1px solid #707070;
    box-shadow: 0 0 25px rgba(139, 139, 139, 0.5);
}

.web-des:hover {
    border: 1px solid #161616;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.des-title {
    position: absolute;
    text-align: center;
    top: 40px;
    left: 0;
    width: 260px;
    margin: 20px;
    font-size: 25px;
    color: black;
    background-color: #ffffff;
}

.des-cont {
    position: absolute;
    text-align: center;
    top: 100px;
    margin: 20px;
    color: black;
    font-size: 19px;
    background-color: #ffffff;
}

.web-dev {
    position: absolute;
    text-align: center;
    top: 40px;
    left: 475px;
    width: 260px;
    margin: 20px;
    width: 300px;
    height: 400px;
    border-radius: 15px;
    background-color: #707070;
}

.dev-title {
    position: absolute;
    text-align: center;
    top: 40px;
    left: 0;
    width: 260px;
    margin: 20px;
    font-size: 25px;
    color: black;
    background-color: #ffffff;
}

.dev-cont {
    position: absolute;
    text-align: center;
    top: 100px;
    margin: 20px;
    color: black;
    font-size: 19px;
    background-color: #ffffff;
}

.ecom-sol {
    position: absolute;
    text-align: center;
    top: 10px;
    right: 50px;
    margin: 50px;
    width: 300px;
    height: 400px;
    border-radius: 15px;
    background-color: #707070;
}

.sol-title {
    position: absolute;
    text-align: center;
    top: 40px;
    left: 0;
    width: 260px;
    margin: 20px;
    font-size: 25px;
    color: black;
    background-color: #ffffff;
}

.sol-cont {
    position: absolute;
    text-align: center;
    top: 100px;
    margin: 20px;
    color: black;
    font-size: 19px;
    background-color: #ffffff;
}


#hypno {
    position: fixed;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    left: 0;
    opacity: .99;
    background-color: rgb(0, 0, 0);
    z-index: 100;
}

#arc {
    margin-left: 70vh;
    margin-top: 22vh;
    width: 400px;
    height: 400px;
}

#arc span {
    display: block;
    width: 100%;
    height: 100%;
    padding: 4px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 50%;
    border-style: solid;
    border-width: 15px;
    border-color: rgb(255, 255, 255) transparent transparent rgb(255, 255, 255);
    animation-name: spinit;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.7, 0, .3, 1);
}

@keyframes spinit {
    0% {
        transform: rotate(0);
    }

    49% {
        transform: rotate(180deg);
    }

    51% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0);
    }

}

@keyframes slideup {
    0% {
        transform: translate(0px, 100px) rotate(0.001deg);
    }

    100% {
        transform: translate(0px, 0px) rotate(0.001deg);
    }
}

@media screen and (max-width: 1090px) {

    body {
        display: flex;
        scroll-behavior: smooth;
        font-family: 'Belleza', sans-serif;
        background-color: rgb(255, 255, 255);
    }

    .nav {
        position: fixed;
        top: 2%;
        left: 3%;
        height: 50px;
        width: 94%;
        z-index: 98;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(12px);
        border-radius: 10px;
        box-shadow: 5 5px 20px rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(12px);
    }

    .nav img {
        position: fixed;
        display: flex;
        height: 30px;
        margin-top: 10px;
        margin-left: 20px;
    }

    .links {
        position: fixed;
        display: flex;
        top: 14px;
        font-size: 13px;
        right: 0px;
    }

    .links a {
        text-decoration: none;
        text-align: center;
        padding-top: 4px;
        margin-right: 15px;
        width: 50px;
        height: 22px;
        border-radius: 5px;
        box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.05);
        color: rgb(0, 0, 0);
    }

    .display img {
        position: absolute;
        top: 120px;
        right: 150px;
        height: 500px;
        width: 450px;
    }

    .blob1 {
        position: absolute;
        top: 1100px;
        left: 40px;
        height: 600px;
        width: 300px;
    }

    .section {
        position: absolute;
        top: 800px;
        left: 5%;
        height: 700px;
        width: 90%;
        opacity: 0;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(12px);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(12px);
        border: 1px solid rgba(255, 255, 255, 0.1);
        transform: perspective(2000px) rotateY(0deg);
        transition: 0.5s ease-out;
    }

    .section.active {
        opacity: 1;
        animation: shimmy 5s ease-out;
    }

    @keyframes shimmy {
        0% {
            transform: perspective(6em) rotateY(2deg);
        }

        100% {
            transform: perspective(2000px) rotateY(0deg);
        }
    }

    .content {
        padding: 20px;
        box-sizing: border-box;
    }

    .title h1 {
        position: absolute;
        top: 1700px;
        left: 200px;
    }

    #hypno {
        position: fixed;
        overflow: hidden;
        height: 100vh;
        width: 100%;
        left: 0;
        opacity: .99;
        background-color: rgb(0, 0, 0);
        z-index: 100;
    }

    #arc {
        margin-left: 70vh;
        margin-top: 22vh;
        width: 400px;
        height: 400px;
    }

    #arc span {
        display: block;
        width: 100%;
        height: 100%;
        padding: 4px;
        margin: 0;
        box-sizing: border-box;
        border-radius: 50%;
        border-style: solid;
        border-width: 15px;
        border-color: rgb(255, 255, 255) transparent transparent rgb(255, 255, 255);
        animation-name: spinit;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: cubic-bezier(.7, 0, .3, 1);
    }

    @keyframes spinit {
        0% {
            transform: rotate(0);
        }

        49% {
            transform: rotate(180deg);
        }

        51% {
            transform: rotate(180deg);
        }

        100% {
            transform: rotate(0);
        }

    }
}